<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Panier - jQuery</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.2/css/materialize.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
  <html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">


    <title>commande</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/owl.css">

    

  </head>
  
</table>
</form>
</body>
</html>
  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>FAGITO</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home
                      <span class="sr-only">(current)</span>
                    </a>
                </li> 

                <li class="nav-item"><a class="nav-link" href="livraison.php">livraison</a></li>

                <li class="nav-item"><a class="nav-link" href="menu.html">Menu</a></li>

                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">commande</a>
                    
                    <div class="dropdown-menu">
                    
                      <a class="dropdown-item active" href="Affichecommande.php">commande</a>
                      <a class="dropdown-item" href="Ajoutcarte.php">Carte de fidelité</a>
                    </div>
                </li>
                
                <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(sinda.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>trouver les meilleures commandes </h4>
              <h2>commande</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="products">
      <div class="container">
        
<!-- partial:index.partial.html -->
<div id="store">
  <h1 data-food="burger">Nos Burgers</h1>
  <section data-food="burger" class="row">
    <article class="col s12 m6 l4" data-price="5">
      <div class="card">
        <div class="card-image">
          <img src="https://farm6.staticflickr.com/5545/9702624462_2efb4ab1d1_d.jpg" title="Flickr picture by Nic Taylor Photography">
          <span class="card-title">15,00dt</span>
        </div>
        <div class="card-content">
          <h3>Burger</h3>
          <p>
          Ceci est la description du produit.
          </p>
        </div>
        <div class="card-action row">
          <a href="#" class="waves-effect waves-light btn red white-text col s12">Ajouter</a>
        </div>
      </div>
    </article>
  </section>
  <h1 data-food="dessert">Nos Desserts</h1>
  <section data-food="dessert" class="row">
      <article class="col s12 m6 l4" data-price="10">
        <div class="card">
          <div class="card-image">
            <img src="https://farm3.staticflickr.com/2403/2127291233_899c16de27_d.jpg" title="Flickr picture by sea turtle">
            <span class="card-title">7,00dt</span>
          </div>
          <div class="card-content">
            <h3>Glace</h3>
            <p>
            Ceci est la description du produit.
            </p>
          </div>
          <div class="card-action row">
            <a href="#" class="waves-effect waves-light btn red white-text col s12">Ajouter</a>
          </div>
        </div>
      </article>
    </section>
</div>
<div id="cart" class="row">
  <ul>
  </ul>
  <a id="pay" class="waves-effect waves-light orange white-text" >Payer et livrer <span class="total">0.00</span>dt</a>
  
 
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
 
    <script src="assets/js/owl.js"></script>
  </body>
  <?php


</div>

<div class="col-4">
  <button class="filled-button" ><a class="nav-link" href="http://localhost/fagito/front/view/livraison.php" >valider la commande</a></button>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.2/js/materialize.min.js'></script><script  src="./script.js"></script>

</body>
</html>
